// Bulma initial values
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$white-ter: hsl(0, 0%, 96%);
$cyan: #D4FFA3;  // change cyan to light lime green color
$blue: #3F7A9C;
$light-blue: #8ca8b8;


// Bulma derived values
$body-background-color: $black-ter;
$text: $white-ter;

$navbar-background-color: $grey-darker;
$navbar-item-hover-background-color: $black-ter;
$navbar-item-hover-color: $light-blue;