// Bulma initial values
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$white-ter: hsl(0, 0%, 96%);
$grey-lightest: hsl(0, 0%, 93%);

  // new colors
$turquoise: #A9EEC2;
$cyan: #4b4c4b;
$blue: #FAD284;
$red: #F38181;
$light-blue: #8ca8b8;
// #A9EEC2


// Bulma derived values
$body-background-color: $black-ter;
$text: $white-ter;
$text-strong: $grey-lightest;
$shadow: 0 0.5em 1em -0.125em hsl(0, 0%, 24%), 0 0px 0 1px hsl(0, 0%, 11%);

$button-color: $black-ter;
$button-text-color: $black-ter;
$button-static-color: $black-ter;

$tag-color: $black-ter;

$navbar-background-color: $grey-darker;
$navbar-item-hover-background-color: $black-ter;
$navbar-item-hover-color: $light-blue;

$panel-block-active-color: $white-ter;

$modal-card-body-background-color: $black-ter;