@charset "utf-8";
@import "~bulma/bulma.sass";
@import 'helpers/mixins';

body, html, #root, .App, .Layout {
  height: 100vh;
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.section {
  height: 92vh;
}

#messageDisplay {
  overflow-y: auto;
}

.Message {
  width: 75%;
  max-width: 300px;
}

.peer1-message {
  align-self: end;
}

.peer2-message {
  background-color: #F1F4FF;
}