@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body, html {
  height: 100%;
  overflow: hidden;
}

#chatContainer {
  height: 100vh;
  overflow-y: scroll;
}

#display {
  height: 100%;
}

#messageContainer {
  height: 100%;
}

.message:nth-child(odd) {
  background-color: hsl(170, 59%, 92%);
}